<form [formGroup]="FiltroForm">
  <div class="row">
    <div class="col-xs-12">
      <!-- -->
      <div class="form-group has-feedback">
        <label class=""><span class="glyphicon glyphicon-lock"></span>Seleccione un Consultorio*</label>
        <select name="tipo" [formControl]="ConsultorioControl" (change)="Filtrar()">
          <option *ngFor="let consultorio of Consultorios " [value]="consultorio">
            {{ consultorio | consultorio }}
          </option>
        </select>
        <div *ngIf="ConsultoriosInput.invalid && (ConsultoriosInput.dirty || ConsultoriosInput.touched )"
          class="alert alert-danger">
          <div *ngIf="ConsultoriosInput.hasError('required')">Seleccione un especialista</div>
        </div>
      </div>
    </div>
  </div>
</form>
