<form [formGroup]="FiltroForm">
  <div class="row">
    <div class="col-xs-12">
      <div class="form-group ">
        <label class=""><span class="glyphicon glyphicon-lock"></span>Fecha*</label>
        <input type="date" name="diaConsultado" [formControl]="DiaConsultadoControl" required (change)="Filtrar()" />
        <div *ngIf="DiaConsultadoInput.hasError('required')" class="alert alert-danger">
          <div *ngIf="DiaConsultadoInput.hasError('required')">Debe seleccionar la fecha</div>
        </div>
      </div>
      <!-- -->
    </div>
  </div>
</form>
