<div class="app-footer">
  <div class="app-footer__inner">
    <div class="app-footer-left">
    <p><strong>Clinica Sonrisas</strong> -&nbsp;&nbsp;&nbsp;
      <a href="https://www.google.com/maps/place/Universidad+Tecnol%C3%B3gica+Nacional:+Facultad+Regional+Avellaneda/@-34.662305,-58.3647235,15z/data=!4m5!3m4!1s0x0:0x38b223e10c24ff93!8m2!3d-34.662305!4d-58.3647235"
        target="_blank">Calle falsa 123</a>
    </p>
    </div>
    <div class="app-footer-right">
      <p><strong>Tel: +5411 1234 1234</strong> &nbsp;&nbsp;&nbsp; <a
          href="mailto:info@clinicasonrisas.com.ar">info@clinicasonrisas.com.ar</a></p>
    </div>
    <!--
    <div class="app-footer-left">
      <span class="pl-2">Copyright 2019 - DashboardPack.com</span>
    </div>
    
    <div class="app-footer-right">
      <a class="btn btn-sm btn-primary mr-2" href="https://dashboardpack.com">Homepage</a>
    </div>
    -->
  </div>
</div>
