<form [formGroup]="FiltroForm">
  <div class="position-relative form-group">
    <label>Especialista*</label>
    <select name="tipo" [formControl]="EspecialistaControl" (change)="Filtrar()" class="form-control">
      <option *ngFor="let especialista of Especialistas | async " [ngValue]="especialista">
        {{ especialista.usuario.Nombre  }}
      </option>
    </select>
    <div *ngIf="EspecialistasInput.invalid && (EspecialistasInput.dirty || EspecialistasInput.touched )"
      class="alert alert-danger">
      <div *ngIf="EspecialistasInput.hasError('required')">Seleccione un especialista</div>
    </div>
  </div>
</form>