<form [formGroup]="FiltroForm">
  <div class="row">
    <div class="col-xs-12">
      <!-- -->
      <div class="form-group has-feedback" >
        <label class=""><span class="glyphicon glyphicon-lock"></span>Seleccione un especialista*</label>
        <select name="tipo" [formControl]="EspecialistaControl" (change)="Filtrar()">
          <option *ngFor="let especialista of Especialistas | async " [ngValue]="especialista">
            {{ especialista.usuario.Nombre  }}
          </option>
        </select>
        <div *ngIf="EspecialistasInput.invalid && (EspecialistasInput.dirty || EspecialistasInput.touched )"
          class="alert alert-danger">
          <div *ngIf="EspecialistasInput.hasError('required')">Seleccione un especialista</div>
        </div>
      </div>
    </div>
  </div>
</form>
